<!--begin::Aside-->
<div id="kt_aside" class="aside card" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
	<!--begin::Aside menu-->
	<div class="aside-menu flex-column-fluid px-4">
		<!--begin::Aside Menu-->
		<div class="hover-scroll-overlay-y my-5 pe-4 me-n4" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_footer', lg: '#kt_header, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu" data-kt-scroll-offset="{default: '5px', lg: '75px'}">
			<!--begin::Menu-->
			<div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_aside_menu" data-kt-menu="true">
				<!--begin:Menu item-->
				<div class="menu-item">
					<!--begin:Menu link-->
					<a class="menu-link" asp-controller="Home" asp-action="Index" active-when="Home">
						<span class="menu-icon">
							<!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
							<span class="svg-icon svg-icon-2">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M11 2.375L2 9.575V20.575C2 21.175 2.4 21.575 3 21.575H9C9.6 21.575 10 21.175 10 20.575V14.575C10 13.975 10.4 13.575 11 13.575H13C13.6 13.575 14 13.975 14 14.575V20.575C14 21.175 14.4 21.575 15 21.575H21C21.6 21.575 22 21.175 22 20.575V9.575L13 2.375C12.4 1.875 11.6 1.875 11 2.375Z" fill="currentColor" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</span>
						<span class="menu-title">Home</span>
					</a>
					<!--end:Menu link-->
					<!--begin:Menu link-->
					<a class="menu-link" asp-controller="Categories" asp-action="Index" active-when="Categories">
						<span class="menu-icon">
							<!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
							<span class="svg-icon svg-icon-2">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="currentColor" />
									<path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="currentColor" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</span>
						<span class="menu-title">Categories</span>
					</a>
					<!--end:Menu link-->
					<!--begin:Menu link-->
					<a class="menu-link" asp-controller="Authors" asp-action="Index" active-when="Authors">
						<span class="menu-icon">
							<!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
							<span class="svg-icon svg-icon-2">
								@* <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> *@
								@* </svg> *@
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
								version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 117.37 122.88" 
								style="enable-background:new 0 0 117.37 122.88" xml:space="preserve"><style type="text/css">
								 .st0 {
								   fill-rule: evenodd;
								   clip-rule: evenodd;
								 }</style><g><path class="st0" d="M78.08,115.36H6.11c-5.24-0.4-6.5-4.17-6.02-8.52C2.96,81.2,31.72,88.62,43.28,78.21l0,0 c5.76,16.96,29.85,17.59,35.26,0c3.18,2.87,9.48,4.58,15.85,6.08c0.32,0.08,0.65,0.15,1,0.23c-7.77,4.75-13.88,12.08-16.32,20.65 C78.07,108.69,77.76,112.12,78.08,115.36L78.08,115.36z M109.51,88.85l7.04,5.43c0.93,0.72,1.1,2.06,0.39,2.99l-1.83,2.29 l-10.42-8.04l1.83-2.29C107.23,88.31,108.58,88.14,109.51,88.85L109.51,88.85L109.51,88.85z M101.92,117.47 c-2.4,1.1-4.79,2.19-7.19,3.28c-5.63,2.57-5.45,3.78-4.58-2.08l1.37-9.22l0,0l-0.01-0.01l11.54-15.87l10.42,8.04l-11.55,15.87 L101.92,117.47L101.92,117.47L101.92,117.47z M93.3,110.82l6.84,5.28c-1.58,0.72-3.15,1.44-4.72,2.15 c-3.7,1.68-3.58,2.48-3.01-1.37L93.3,110.82L93.3,110.82L93.3,110.82z M43.13,61.2c2.19,3.47,4.48,7.02,7.32,9.63 c2.74,2.5,6.06,4.2,10.45,4.21c4.76,0.01,8.23-1.75,11.06-4.39c2.94-2.75,5.25-6.52,7.54-10.28l6.14-10.12 c1.14-2.62,1.56-4.36,1.3-5.39c-0.16-0.61-0.83-0.91-1.98-0.96c-0.24-0.01-0.49-0.01-0.74-0.01c-0.27,0.01-0.56,0.03-0.86,0.05 c-0.17,0.01-0.32,0-0.47-0.03c-0.54,0.03-1.11-0.01-1.68-0.09l2.1-9.31c-15.61,2.46-27.28-9.13-43.77-2.32l1.19,10.97 c-0.65,0.04-1.29,0.01-1.87-0.07C29.39,43.4,41.26,58.23,43.13,61.2L43.13,61.2z M87.08,41.11c1.51,0.46,2.48,1.42,2.88,2.97 c0.44,1.72-0.04,4.14-1.5,7.45l0,0c-0.03,0.06-0.05,0.12-0.09,0.18l-6.21,10.23c-2.4,3.94-4.82,7.9-8.07,10.93 c-3.36,3.15-7.5,5.24-13.16,5.22c-5.28-0.01-9.27-2.03-12.53-5.02c-3.94-3.62-22.12-26.37-14-31.85c0.4-0.26,0.84-0.49,1.32-0.67 c-0.36-4.7-0.48-10.63-0.26-15.59c0.12-1.17,0.35-2.35,0.67-3.53c1.39-4.98,4.89-8.99,9.21-11.74c2.39-1.52,5-2.67,7.72-3.43 c1.73-0.49-1.47-6.03,0.31-6.2c8.65-0.89,22.66,7.01,28.7,13.55c3.02,3.27,4.93,7.62,5.34,13.36L87.08,41.11L87.08,41.11 L87.08,41.11L87.08,41.11z" fill="currentColor" /></g></svg>
							</span>
							<!--end::Svg Icon-->
						</span>
						<span class="menu-title">Authors</span>
					</a>
					<!--end:Menu link-->

					<!--begin:Menu link-->
					<a class="menu-link" asp-controller="Books" asp-action="Index" active-when="Books">
						<span class="menu-icon">
							<!--begin::Svg Icon | path: icons/duotune/general/gen002.svg-->
							<span class="svg-icon svg-icon-2">
								@* <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> *@
								@* </svg> *@
								<svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M23 4C23 3.11596 21.855 2.80151 21.0975 2.59348C21.0279 2.57437 20.9616 2.55615 20.8997 2.53848C19.9537 2.26818 18.6102 2 17 2C15.2762 2 13.8549 2.574 12.8789 3.13176C12.7296 3.21707 12.5726 3.33492 12.4307 3.44143C12.2433 3.58215 12.0823 3.70308 12 3.70308C11.9177 3.70308 11.7567 3.58215 11.5693 3.44143C11.4274 3.33492 11.2704 3.21707 11.1211 3.13176C10.1451 2.574 8.72378 2 7 2C5.38978 2 4.0463 2.26818 3.10028 2.53848C3.04079 2.55547 2.97705 2.57302 2.91016 2.59144C2.156 2.79911 1 3.11742 1 4V17C1 17.3466 1.17945 17.6684 1.47427 17.8507C1.94329 18.1405 2.56224 17.8868 3.11074 17.662C3.30209 17.5835 3.48487 17.5086 3.64972 17.4615C4.4537 17.2318 5.61022 17 7 17C8.2613 17 9.20554 17.4161 9.9134 17.8517C10.0952 17.9636 10.279 18.1063 10.4676 18.2527C10.9338 18.6148 11.4298 19 12 19C12.5718 19 13.0653 18.6162 13.5307 18.2543C13.7195 18.1074 13.9037 17.9642 14.0866 17.8517C14.7945 17.4161 15.7387 17 17 17C18.3898 17 19.5463 17.2318 20.3503 17.4615C20.5227 17.5108 20.7099 17.5898 20.9042 17.6719C21.4443 17.9 22.0393 18.1513 22.5257 17.8507C22.8205 17.6684 23 17.3466 23 17V4ZM3.33252 4.55749C3.13163 4.62161 3 4.81078 3 5.02166V14.8991C3 15.233 3.32089 15.4733 3.64547 15.3951C4.53577 15.1807 5.67777 15 7 15C8.76309 15 10.0794 15.5994 11 16.1721V5.45567C10.7989 5.29593 10.5037 5.08245 10.1289 4.86824C9.35493 4.426 8.27622 4 7 4C5.41509 4 4.12989 4.30297 3.33252 4.55749ZM17 15C15.2369 15 13.9206 15.5994 13 16.1721V5.45567C13.2011 5.29593 13.4963 5.08245 13.8711 4.86824C14.6451 4.426 15.7238 4 17 4C18.5849 4 19.8701 4.30297 20.6675 4.55749C20.8684 4.62161 21 4.81078 21 5.02166V14.8991C21 15.233 20.6791 15.4733 20.3545 15.3951C19.4642 15.1807 18.3222 15 17 15Z" fill="currentColor" />
									<path d="M2.08735 20.4087C1.86161 19.9047 2.08723 19.3131 2.59127 19.0873C3.05951 18.8792 3.54426 18.7043 4.0318 18.5478C4.84068 18.2883 5.95911 18 7 18C8.16689 18 9.16285 18.6289 9.88469 19.0847C9.92174 19.1081 9.95807 19.131 9.99366 19.1534C10.8347 19.6821 11.4004 20 12 20C12.5989 20 13.1612 19.6829 14.0012 19.1538C14.0357 19.1321 14.0708 19.1099 14.1066 19.0872C14.8291 18.6303 15.8257 18 17 18C18.0465 18 19.1647 18.2881 19.9732 18.548C20.6992 18.7814 21.2378 19.0122 21.3762 19.073C21.8822 19.2968 22.1443 19.8943 21.9118 20.4105C21.6867 20.9106 21.0859 21.1325 20.5874 20.9109C20.1883 20.7349 19.7761 20.5855 19.361 20.452C18.6142 20.2119 17.7324 20 17 20C16.4409 20 15.9037 20.3186 15.0069 20.8841C14.2635 21.3529 13.2373 22 12 22C10.7619 22 9.73236 21.3521 8.98685 20.8829C8.08824 20.3173 7.55225 20 7 20C6.27378 20 5.39222 20.2117 4.64287 20.4522C4.22538 20.5861 3.80974 20.7351 3.4085 20.9128C2.9045 21.1383 2.31305 20.9127 2.08735 20.4087Z" fill="currentColor" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</span>
						<span class="menu-title">Books</span>
					</a>
					<!--end:Menu link-->
				</div>
				<!--end:Menu item-->
			</div>
			<!--end::Menu-->
		</div>
	</div>
	<!--end::Aside menu-->
</div>
<!--end::Aside-->