@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="text-center">
        <img class="h-400px" src="~/assets/images/401 error unauthorized-cuate.svg" />
    </div>
</header>
